body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url('../img/pattern.png');
    background-color:cornflowerblue;
    background-size: 20%;
    height: 50px;
    padding: 24px 0;
}
.logo{
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    height: 65px;
}