@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    background-image: url('../img/pattern.png');
    background-color:cornflowerblue;
    background-size: 20%;
    height: 50px;
    padding: 24px 0;
}
main, footer{
    padding-left: 10px;
}
.logo{
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    height: 65px;
}
h1{
    margin-bottom: 0px;
}
.credenziali{
    display: inline-block;
    color: grey;
    font-size: 20px ;
    margin-bottom: 0px;
    margin-top: 0px;
}
.imp{
    display: inline-block;
    color: lightseagreen;
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#data{
    margin-top: 0px;
    color: grey;
    font-size: 15px;
}
.foto-tim{
    display: inline-block;
    margin-bottom: 0px;
}
.text-tim{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
}
ul{
    padding-left: 17px;
}
table{
    border-spacing: 0;
}
thead{
    background-color: rgb(29, 68, 151);
}
th{
    text-align: left;
}
#colonne{
    width: 200px;
}
#chiara{
    background-color: aquamarine;
}
#final-img1{
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    height: 200px;
    padding-bottom: 20px;
}
#final-img2{
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    height: 200px;
    padding-bottom: 20px;
}

#text-fin{
    color: whitesmoke;
    font-size: 25px;
    padding-left: 5px;
}